--
-- PostgreSQL database dump
--

\restrict zAKwhj4XQ98yzKUeZjyOmXgHQ3vPVZ6DoHr4f8F6BxuBgpQio08p7jQn5RoPfPj

-- Dumped from database version 17.6 (Debian 17.6-2.pgdg13+1)
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: JobStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."JobStatus" AS ENUM (
    'PENDING',
    'IN_PROGRESS',
    'DONE',
    'NOT_DONE',
    'ESCALATED'
);


ALTER TYPE public."JobStatus" OWNER TO postgres;

--
-- Name: JobType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."JobType" AS ENUM (
    'INSTALL',
    'RENEWAL',
    'FAULT_CHECK',
    'REPAIR'
);


ALTER TYPE public."JobType" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'TECHNICIAN',
    'STAFF'
);


ALTER TYPE public."Role" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Job; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Job" (
    id integer NOT NULL,
    "vehicleReg" text NOT NULL,
    "jobType" public."JobType" NOT NULL,
    status public."JobStatus" DEFAULT 'PENDING'::public."JobStatus" NOT NULL,
    "scheduledDate" timestamp(3) without time zone NOT NULL,
    location text,
    "governorSerial" text,
    "governorStatus" text,
    "clientName" text,
    "clientPhone" text,
    remarks text,
    "photoUrl" text,
    "clientSignature" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "technicianId" integer
);


ALTER TABLE public."Job" OWNER TO postgres;

--
-- Name: JobHistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."JobHistory" (
    id integer NOT NULL,
    "jobId" integer NOT NULL,
    status public."JobStatus" NOT NULL,
    remarks text,
    latitude double precision,
    longitude double precision,
    "updatedBy" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."JobHistory" OWNER TO postgres;

--
-- Name: JobHistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."JobHistory_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."JobHistory_id_seq" OWNER TO postgres;

--
-- Name: JobHistory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."JobHistory_id_seq" OWNED BY public."JobHistory".id;


--
-- Name: Job_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Job_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Job_id_seq" OWNER TO postgres;

--
-- Name: Job_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Job_id_seq" OWNED BY public."Job".id;


--
-- Name: Photo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Photo" (
    id integer NOT NULL,
    "jobId" integer NOT NULL,
    url text NOT NULL,
    "uploadedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Photo" OWNER TO postgres;

--
-- Name: Photo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Photo_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Photo_id_seq" OWNER TO postgres;

--
-- Name: Photo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Photo_id_seq" OWNED BY public."Photo".id;


--
-- Name: RollCall; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RollCall" (
    id integer NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    region text
);


ALTER TABLE public."RollCall" OWNER TO postgres;

--
-- Name: RollCallUser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."RollCallUser" (
    id integer NOT NULL,
    "rollCallId" integer NOT NULL,
    "userId" integer NOT NULL,
    status text,
    "checkIn" timestamp(3) without time zone,
    "checkOut" timestamp(3) without time zone,
    latitude double precision,
    longitude double precision
);


ALTER TABLE public."RollCallUser" OWNER TO postgres;

--
-- Name: RollCallUser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."RollCallUser_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."RollCallUser_id_seq" OWNER TO postgres;

--
-- Name: RollCallUser_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."RollCallUser_id_seq" OWNED BY public."RollCallUser".id;


--
-- Name: RollCall_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."RollCall_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."RollCall_id_seq" OWNER TO postgres;

--
-- Name: RollCall_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."RollCall_id_seq" OWNED BY public."RollCall".id;


--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "loginTime" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "logoutTime" timestamp(3) without time zone,
    active boolean DEFAULT true NOT NULL,
    latitude double precision,
    longitude double precision
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: Session_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Session_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Session_id_seq" OWNER TO postgres;

--
-- Name: Session_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Session_id_seq" OWNED BY public."Session".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    name text NOT NULL,
    email text,
    phone text,
    role public."Role" NOT NULL,
    region text,
    password text NOT NULL,
    online boolean DEFAULT false NOT NULL,
    "lastLogin" timestamp(3) without time zone,
    "lastLogout" timestamp(3) without time zone
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: Job id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Job" ALTER COLUMN id SET DEFAULT nextval('public."Job_id_seq"'::regclass);


--
-- Name: JobHistory id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobHistory" ALTER COLUMN id SET DEFAULT nextval('public."JobHistory_id_seq"'::regclass);


--
-- Name: Photo id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Photo" ALTER COLUMN id SET DEFAULT nextval('public."Photo_id_seq"'::regclass);


--
-- Name: RollCall id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RollCall" ALTER COLUMN id SET DEFAULT nextval('public."RollCall_id_seq"'::regclass);


--
-- Name: RollCallUser id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RollCallUser" ALTER COLUMN id SET DEFAULT nextval('public."RollCallUser_id_seq"'::regclass);


--
-- Name: Session id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session" ALTER COLUMN id SET DEFAULT nextval('public."Session_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: Job; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: JobHistory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."JobHistory" (id, "jobId", status, remarks, latitude, longitude, "updatedBy", "createdAt") FROM stdin;
19	13	PENDING	Job created	\N	\N	5	2025-10-18 08:37:48.416
20	13	IN_PROGRESS		-1.2921	36.8219	5	2025-10-18 08:39:30.123
21	13	NOT_DONE		\N	\N	5	2025-10-18 08:40:24.926
22	14	PENDING	Job created	\N	\N	7	2025-10-18 10:38:27.996
23	13	NOT_DONE	Device need to be checked	-1.2921	36.8219	5	2025-10-18 11:44:48.453
24	15	PENDING	Job created	\N	\N	13	2025-10-21 06:13:53.396
\.


--
-- Data for Name: Photo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Photo" (id, "jobId", url, "uploadedAt") FROM stdin;
\.


--
-- Data for Name: RollCall; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."RollCall" (id, date, region) FROM stdin;
1	2025-10-15 08:01:27.705	All
2	2025-10-15 00:00:00	Nairobi
3	2025-10-18 00:00:00	Nairobi
4	2025-10-20 00:00:00	Nairobi
5	2025-10-21 00:00:00	Nairobi
\.


--
-- Data for Name: RollCallUser; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: JobHistory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."JobHistory_id_seq"', 25, true);


--
-- Name: Job_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Job_id_seq"', 16, true);


--
-- Name: Photo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Photo_id_seq"', 10, true);


--
-- Name: RollCallUser_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."RollCallUser_id_seq"', 22, true);


--
-- Name: RollCall_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."RollCall_id_seq"', 5, true);


--
-- Name: Session_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Session_id_seq"', 239, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_seq"', 17, true);


--
-- Name: JobHistory JobHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobHistory"
    ADD CONSTRAINT "JobHistory_pkey" PRIMARY KEY (id);


--
-- Name: Job Job_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Job"
    ADD CONSTRAINT "Job_pkey" PRIMARY KEY (id);


--
-- Name: Photo Photo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Photo"
    ADD CONSTRAINT "Photo_pkey" PRIMARY KEY (id);


--
-- Name: RollCallUser RollCallUser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RollCallUser"
    ADD CONSTRAINT "RollCallUser_pkey" PRIMARY KEY (id);


--
-- Name: RollCall RollCall_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RollCall"
    ADD CONSTRAINT "RollCall_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: Job_vehicleReg_status_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Job_vehicleReg_status_key" ON public."Job" USING btree ("vehicleReg", status);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_phone_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_phone_key" ON public."User" USING btree (phone);


--
-- Name: JobHistory JobHistory_jobId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."JobHistory"
    ADD CONSTRAINT "JobHistory_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES public."Job"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Job Job_technicianId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Job"
    ADD CONSTRAINT "Job_technicianId_fkey" FOREIGN KEY ("technicianId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Photo Photo_jobId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Photo"
    ADD CONSTRAINT "Photo_jobId_fkey" FOREIGN KEY ("jobId") REFERENCES public."Job"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RollCallUser RollCallUser_rollCallId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RollCallUser"
    ADD CONSTRAINT "RollCallUser_rollCallId_fkey" FOREIGN KEY ("rollCallId") REFERENCES public."RollCall"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RollCallUser RollCallUser_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."RollCallUser"
    ADD CONSTRAINT "RollCallUser_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Session Session_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict zAKwhj4XQ98yzKUeZjyOmXgHQ3vPVZ6DoHr4f8F6BxuBgpQio08p7jQn5RoPfPj

